<ion-view view-title="<a navClear href='#/app/playlists'><img src='img/nu3_icon.png' height='40px' width='40px'></a><span class='energized-text header-title'> Sobre </span>">
  <ion-content>
  	<center>
    <h1>Nu3 App</h1>
    <h3>v0.150630</h3>
    </center>
    <img ng-src="img/nu3_icon.png" class="img-logo">
    <div class="card">
	    <div class="item item-text-wrap">
		    <p>Esta é uma aplicação para <strong>Educação Alimentar Nutricional (EAN)</strong>, desenvolvido pela UNIFESP com apoio do CNPq.</p>
		    <p>Saiba mais em <a href="http://nu3.unifesp.br/" class="url">http://nu3.unifesp.br/</a></p>
		    <!--<p>O projeto tem como modelo Open Source sob a licença X, com código-fonte disponibilizado no GitHub no seguinte repositório:</p>
		    <p class="url"><strong>https://github.com/Nu3App/Nu3Ionic</strong></p>
		    <br>
		    <p> Em caso de bugs, fique à vontade em preencher um relatório no repositório ou enviar um email para <strong>suporte@nu3app.com</strong></p>
		    <br>
		    -->
		    <div align="center">
		        <img src="img/unifesp.jpg" width="200px" height="150px"/>
		        <img src="img/CNPq.png" width="150px" height="150px"/>
		    </div>
		</div>
	</div>
  </ion-content>
</ion-view>
