<ion-modal-view ng-controller="ForgotCtrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title energized-text">Esqueci a senha</h1>
    <div class="buttons">
      <a href="#login" class="button button-clear button-light">Voltar</a>
    </div>
  </ion-header-bar>
  <ion-content>
    
    <div class="wrapper">
      <!--<a href="#/login" class="button button-balanced button-clear pull-right">Voltar</a>
      <p class="clear"></p>
      <p class="prettyline-text-right"></p>
      -->
        <form ng-submit="sendMail()">
          <div class="card">
            <div class="item item-text-wrap">
              Caso você tenha esquecido sua senha, preencha seu e-mail e em breve mandaremos uma nova senha. Fique à vontade em mudá-la no formulário abaixo. 
            </div>
          </div>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Email:</span>
              <input type="email" ng-model="user.email">
            </label>
            
            <label class="feed-item no-border">
              <button class="button button-block button-energized no-padding" type="submit">Enviar Email</button>
            </label>
          </div>
        </form>
        <p class="prettyline no-padding"></p>
        <form ng-submit="resetPassword()">
            <label class="item item-input">
              <span class="input-label">Senha Atual:</span>
              <input type="password" ng-model="user.currentPW">
            </label>
            <label class="item item-input">
              <span class="input-label">Nova Senha:</span>
              <input type="password" ng-model="user.newPW">
            </label>
            <label class="item item-input">
              <span class="input-label">Confirmação Senha:</span>
              <input type="password" ng-model="user.newPWC">
            </label>
            
            <label class="feed-item no-border">
              <button class="button button-block button-energized no-padding" type="submit">Mudar Senha</button>
            </label>
        </form>
    </div>
  </ion-content>
</ion-modal-view>