<ion-modal-view ng-controller="LoginCtrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title energized-text">Login</h1>
    <div class="buttons">
      <!--<button class="button button-clear" ng-click="closeLogin()">Close</button>-->
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="wrapper">
      <div class="has-botton">
      <img ng-src="img/nu3_icon.png" class="img-logo">
      <form ng-submit="login()">
        <div class="card" ng-show="message">
          <div class="item item-text-wrap">
            {{message}}
          </div>
        </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Senha</span>
            <input type="password" ng-model="user.senha">
          </label>
          <label class="feed-item no-border">
            <button class="button button-block button-energized no-padding" type="submit">Logar</button>
          </label>
        </div>
      </form>
      <p class="prettyline no-padding"></p>
      </div>
      <div class="botton">
        <center><p>Não tem conta ainda?</p></center>
        <a href="#/register" class="button button-full button-dark no-padding no-margin">Cadastra-se</a>
      </div>
    </div>  
  </ion-content>
</ion-modal-view>
