<ion-modal-view ng-controller="LoginCtrl">
  <ion-header-bar class="bar-balanced">
    <h1 class="title white">Login</h1>
    <div class="buttons">
      <!--<button class="button button-clear" ng-click="closeLogin()">Close</button>-->
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="wrapper">
      <div class="has-botton">
      <img ng-src="img/unimed_logo_high.png" class="img-logo-unimed">
      <form ng-submit="login()">
        <div class="card" ng-show="message">
          <div class="item item-text-wrap">
            {{message}}
          </div>
        </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Senha</span>
            <input type="password" ng-model="user.senha">
          </label>
          <label class="feed-item no-border">
            <button class="button button-block button-energized no-padding" type="submit">Logar</button>
          </label>
          <a href="#/forgot" class="button button-balanced button-clear pull-right forgot-text">Esqueci a senha!</a>
        </div>
      </form>
      <p class="prettyline-text-right"></p>
      </div>
      
    </div>  
  </ion-content>
  <div class="botton hide-on-keyboard-open">
    <center><p>Não tem conta ainda?</p></center>
    <a href="#/register" class="button button-full button-dark no-padding no-margin">Cadastra-se</a>
  </div>
</ion-modal-view>
