<ion-view view-title="<a navClear href='#/app/playlists'><img src='img/unimed_header.png' height='40px' width='40px'></a><span class='energized-text header-title'> Perfil </span>">
  <ion-content>
    <div class="list card">

	  <div class="item item-image">
	    <center><i class="ion-clock"></i></center>
	  </div>
	  <div class="feed-item">
	  		<div class="button-bar no-padding">
				<button class="button" ng-click="add()">Add notification</button>
    			<button class="button" ng-click="isScheduled()">Is Scheduled</button>
	  		</div>
	  </div>
	  <!--
	  <div class="item" ng-show = "photoSaved && imgURI !== null">
		<center><h2>Foto de perfil salvo com sucesso!</h2></center>
	  </div>
	  <div class="item item-icon-left">
		<h2><i class="icon ion-person"></i>{{user.nomeUsuario}}</h2>
	  </div>
	  <div class="item item-icon-left">
		<p><i class="icon ion-ios-email"></i>{{user.email}}</p>
	  </div>
	  <div class="item item-icon-left">
		<p><i class="icon ion-ios-unlocked"></i>Sessão válida até: <span class="item-note">{{user.tokenExp}}</span></p>
	  </div>
	  -->
	</div>
	
  </ion-content>
</ion-view>
