<ion-view view-title="<a navClear href='#/app/playlists'><img src='img/unimed_header.jpg' height='40px' width='40px'></a><span class='header-title'> Perfil </span>">
  <ion-content>
    <div class="list card">

	  <div class="item item-image">
	    <img ng-show="perfilPhoto === null" class="img-avatar" src="img/avatar.png">
	    <img ng-show="perfilPhoto !== null" class="img-avatar" src="{{perfilPhoto}}">
	    <center><i class="ion-arrow-down-a" ng-show="imgURI !== null"></i></center>
	    <img ng-show="imgURI !== null" class="img-avatar" ng-src="{{imgURI}}">
	  </div>
	  <div class="feed-item">
	  		<div class="button-bar no-padding">
				<a class="button button-dark"  ng-click="takePicture()">
				Tirar Foto &nbsp;
				<i class="icon ion-ios-camera"></i>
				</a>
				<a class="button button-dark" class="button" ng-click="loadPicture()">
				Carregar Foto &nbsp;
				<i class="icon ion-folder"></i>
				</a>
	  		</div>
	  		<button class="button button-full button-energized icon-right ion-archive" class="button" ng-click="savePicture()" ng-show="imgURI !== null">
	  		Salvar
	  		</button>
	  </div>
	  <div class="item" ng-show = "photoSaved && imgURI !== null">
		<center><h2>Foto de perfil salvo com sucesso!</h2></center>
	  </div>
	  <div class="item item-icon-left">
		<h2><i class="icon ion-person"></i>{{user.nomeUsuario}}</h2>
	  </div>
	  <div class="item item-icon-left">
		<p><i class="icon ion-ios-email"></i>{{user.email}}</p>
	  </div>
	  <div class="item item-icon-left">
		<p><i class="icon ion-ios-unlocked"></i>Sessão válida até: <span class="item-note">{{user.tokenExp}}</span></p>
	  </div>
	</div>
	
  </ion-content>
</ion-view>
