<ion-view view-title="<img src='img/nu3_icon.png' height='40px' width='40px'><span class='energized-text header-title'> Home </span>">
  <ion-content class="has-tabs">
    <!--<label class="pull-right">{{network}}</label>-->
    <div class="card" ng-show="offlineFeed">
      <div class="item item-text-wrap" ng-show="qtd > 0">
        Você tem {{qtd}} foto(s) para sincronizar
      </div>
      <div class="item item-text-wrap" ng-show="qtd == 0">
        {{message}}
      </div>
      <div class="item item-divider item-energized" ng-show="online && qtd > 0 && !loginBtn" ng-style="{'line-height': '50px'}">
        <button class="button button-clear button-dark" ng-click="sincronizar()">
          <i class="icon ion-ios-cloud-upload"></i>
          &nbsp; &nbsp; Sincronizar
        </button>
      </div>
      <div class="item item-divider item-energized" ng-show="homebtn">
        <button class="button button-clear button-dark" ng-click="goHomeOnline()">
          <i class="icon ion-home"></i>
          Continuar
        </button>
      </div>
      <div class="item item-divider item-energized" ng-show="loginBtn">
        <button class="button button-clear button-dark" ng-click="login()">
          <i class="icon ion-log-in"></i>
          Entrar
        </button>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="p in offlinePhotos" class="item item-thumbnail-left">
        <img ng-src="{{p.url}}" class="img-list" ng-show="{{p.url}}">
        <h2><strong>{{p.nome}}</strong></h2>
        <p>Tirado em: {{p.data}}</p>
        <label>Status: {{p.synch}}</label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item ng-repeat="day in feed" class="item item-divider item-energized feed-divider no-padding no-margin no-border">
        <h3 class="black"><center>Coletas do dia: <strong>{{day.label}}</strong></center></h3>
        <div class="card feed-card" ng-show="!day.photos">
          <div class="item item-text-wrap">
            <center>Sem coletas nesse dia...</center>
          </div>
        </div>
      <ion-list ng-show="day.photos">
          <ion-item ng-repeat="photo in day.photos" href="{{photo.detail_url}}" class="feed-item">
            
            
            <div class="row feed-table" id="photo-info">
              <div class="col col-33 no-padding" id="photo-image">
                <img ng-show="photo.url !== undefined" ng-src="{{photo.url}}" class="img-list">
              </div>
              <div class="col col-67" id="infos">
                <div class = "row row-top">
                  <h2><strong>{{photo.nome}}</strong></h2>
                </div>
                <div class = "row row-center">
                  <div class="col col-67">
                    <i ng-repeat="star in photo.stars track by $index" class="ion-ios-star"></i>
                    <i ng-repeat="empty in photo.starsEmpty track by $index" class="ion-ios-star-outline"></i>
                  </div>
                  <div class="col col-33">
                    <i class="icon ion-ios-clock-outline"></i>&nbsp;{{photo.hour}}&nbsp;
                  </div>
                </div>
                <div class = "row row-bottom" ng-show="photo.ultimoComentario">
                  <div class= "col col-10">
                    <i class="icon ion-chatbubble"></i>&nbsp;
                  </div>
                  <div class = "col col-90">
                    <h3>{{photo.ultimoComentario.texto}}</h3>
                  </div>
                </div>
              </div>
            </div>

          </ion-item>



        </ion-list>
      </ion-item> 
    </ion-list>
    <ion-infinite-scroll class="has-tabs" immediate-check="false" on-infinite="loadMore()" distance="1%" ng-if="scrollCheck()">
    </ion-infinite-scroll>
    <!--
    <div class="bar bar-footer bar-dark footer-button" >
        <a class="button button-full button-clear button-icon icon ion-camera" ng-click="camera()">
            &nbsp;Camera
        </a>
    </div>
    -->
   <!--
  <ion-footer-bar align-title="center" class="bar-energized">
 <div class="buttons">
    <button class="button icon-left ion-home">Home</button>
  </div>
  <h1 class="title">Nu3 App</h1>
  
    <button class="button button-full icon-left ion-camera" ng-click="camera()">&nbsp;&nbsp;&nbsp;Camera</button>

  </ion-footer-bar>
  -->
  </ion-content>
  <div class="tabs-striped tabs-background-dark tabs-color-energized">
    <div class="tabs">
        <a class="tab-item disable-user-behavior active" ui-sref="#">
          <i class="icon ion-home"></i>Home
        </a>
        <a navClear class="tab-item disable-user-behavior" ui-sref="app.search">
          <i class="icon ion-ios-search"></i>Busca
        </a>
        <a navClear class="tab-item disable-user-behavior" ui-sref="app.camera">
          <i class="icon ion-ios-camera"></i>Camera
        </a>
    </div>
  </div>
</ion-view>
