<ion-view view-title="<a navClear href='#/app/playlists'><img src='img/nu3_icon.png' height='40px' width='40px'></img></a><span class='energized-text header-title'> Refeição </span>">
  <ion-content>
  	<div ng-show="photo === undefined">
		<center>

		<p>Carregando Detalhes</p>
		</center>
  	</div>
  	<div ng-show="photo !== undefined">
  		<img ng-show="photo.url !== undefined" ng-src="{{photo.url}}" class="img-detail">
  		<div class="card">
	      <div class="item item-text-wrap item-borderless">
	        <h1>{{photo.title}}</h1>
		    <p class="prettyline no-padding"></p>
		    <div class = "row">
		    	<div class="col col-33">
					<i ng-repeat="star in photo.stars track by $index" class="ion-ios-star energized"></i>
		        	<i ng-repeat="empty in photo.starsEmpty track by $index" class="ion-ios-star-outline energized"></i>
		    	</div>
		    	<div class="col col-67">
		    		<label><i class="ion-android-calendar"></i> &nbsp;{{photo.day}} &nbsp;<i class="ion-android-time"></i>&nbsp; {{photo.hour}} &nbsp;</label>
		    	</div>
		    </div>
	      </div>
	    </div>  
	  	
    </div>
      <ul class="ulChat">
	      <li ng-repeat="comment in comentarios | orderBy:'$index':true">
		   <!-- ng-class="$variableToEvaluate ? 'class-if-true' : 'class-if-false'"> -->
		   	<div id="bubble" ng-class="comment.nomeUsuario == me ? 'bubble2' : 'bubble'">
		        <small>{{comment.dataEnvio}}</small> 
		        <span class="author" id="{{comment.idComentario}}"><strong>{{comment.nomeUsuario}}: </strong></span>
		        <br>
		        {{comment.texto}}
	        </div>
	      </li>
	  </ul>
	  <p class="clear"></p>
	<div class="list list-inset" ng-show="commentable">
		<div class="item item-text-wrap" ng-show="warning === true">
          		Por favor, escreva algo antes de comentar.
        </div>
		<label class="item item-input">
			<i class="icon ion-android-textsms placeholder-icon"></i>
		    <input type="text" placeholder="Comente algo..." ng-model="commentField.text">
		</label>
	</div>
	<button class="button button-full button-energized icon-right ion-android-send"  ng-click="comentar()" ng-show="commentable">
  		Comentar
	</button>
	<div class="item item-text-wrap" ng-show="!commentable">
        Novo comentário desativado para refeições feitas a mais de uma semana.
    </div>
	
	<!--
	  	<label class="item item-input">
    		<input ng-model="commentField.text" type="text" placeholder="Comente algo...">
  		</label>
  	-->
  		
  </ion-content>
</ion-view>
