<ion-view title="Busca">
    <ion-content>
        <h2>Search Page: </h2>
        <p><i class="icon ion-code-working"></i> In development <i class="icon ion-code-working"></i></p>
  
      
    </ion-content>
    <div class="tabs-striped tabs-background-energized tabs-color-light">
    <div class="tabs">
        <a navClear class="tab-item disable-user-behavior" title="Home" ui-sref="app.photolists">
          <i class="icon ion-home"></i>Home
        </a>
        <a navClear class="tab-item disable-user-behavior active" title="Search" ui-sref="#">
          <i class="icon ion-ios-search"></i>Busca
        </a>
        <a navClear class="tab-item disable-user-behavior" title="Camera" ui-sref="app.camera">
          <i class="icon ion-ios-camera"></i>Camera
        </a>
    </div>
    </div>
</ion-view>