/* Empty. Add your own CSS if you like */
.img-preview{
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	border-radius: 3px;
	border-width: 3px;
	display: block;
	max-width: 75%;
	width: 300px;
	height: 300px;
}

.img-detail{
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	border-radius: 3px;
	border-width: 3px;
	display: block;
	max-width: 75%;
	width: 300px;
	height: 300px;
}

.img-list{
	border-color: black;
	border-radius: 3px;
	border-width: 1px;
	width: 100px;
	height: 100px;
}

.hidden{
  display: none;
}

.no-padding {
    padding: 0px !important;
}

.feed-divider {
	padding: 5px 1px 0px 1px !important;
}

.feed-card {
	padding: 1px 1px 1px 1px !important;
	margin: 0px 0px 0px 0px !important;
}
.black {
	color: black;
}

.prettyline {
  margin: 25px 0;
  height: 1px;
  background: #FFBD21;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #FFBD21));
  
}
