/* Empty. Add your own CSS if you like */
.pull-left { float:left }
.pull-right { float:right }
.clear { clear:both }

.wrapper {
	min-height:100%;
	position:relative;
}
.has-botton {
	padding-bottom:100px;   /* Height of the footer element */
}
.botton {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

.energized-background{
	background-color: #ffc900;
}

.energized-text{
	color: #ffc900 !important;
}

.header-title{
	position: relative;
	top: -10px;
}

.img-preview{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-radius: 10px;
	border-width: 10px;
	display: block;
	width: 300px;
	height: 300px;
}

.img-avatar{
	display: block;
	margin-left: auto;
	margin-right: auto;
    top: 10px;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-detail{
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border-width: 5px;
	display: block;
	width: 250px;
	height: 250px;
}

.img-list{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.img-logo{
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0px;
}

.menu-logo{
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0px;
}

.hidden{
  display: none;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

.no-border {
	border: 0px !important;
}

.feed-divider {
	padding: 5px 1px 1px 1px !important;
}
.feed-divider .h3 {
	margin-top: 1px !important;
}

.feed-card {
	padding: 1px 1px 1px 1px !important;
	margin: 0px 0px 1px 0px !important;
}

.feed-table {
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

.feed-item .item-content {
  padding: 0 !important;
}

.black {
	color: black;
}

.prettyline {
  margin: 25px 0;
  height: 1px;
  background: #FFBD21;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #FFBD21));
  
}

div.footer-button a.button.button-full {
    width:100%;
    margin-top: 0
}

.ulChat { list-style-type:none; padding:0px; margin:0px;  }
.ulChat li {   padding-left: 0px; }

.author {
	font-size: small;
}

.personName {  padding-left:0px; color:#5586e5; font-weight:600;}
.personSay {   padding-left:0px; color:#000; font-weight:600;}

.personName2 { float: right;  padding-left:0px; color:#5586e5; font-weight:600;}
.personSay2 {  float: right; padding-left:0px; color:#000; font-weight:600;}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;   
    margin: 5px 45px 5px 20px; 
	border-color: #cdecb0;
	 
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px; 
	
	}

.bubble{
		background-color: #F2F2F2;
		border-radius: 5px;
		box-shadow: 0 0 6px #B2B2B2;
		display: inline-block;
		padding: 10px 18px;
		position: relative;
		vertical-align: top;
		margin: 10px 10px;
		border-color: #cdecb0;
		width: 80%;
		
	}

.bubble2{
    background-color: #ffc900;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;   
    margin: 5px 45px 5px 20px; 
	border-color: #cdecb0;
	
	  }

.bubble2::before {

float:right;
    background-color: #ffc900;
    content: "\00a0";
    display: block;
    height: 19px;
    /*position: absolute;*/
	position:relative;
    left: 26px;
	top: 11px;
    transform:             rotate( 205deg ) skew( -35deg );
        -moz-transform:    rotate( 205deg ) skew( -35deg );
        -ms-transform:     rotate( 205deg ) skew( -35deg );
        -o-transform:      rotate( 205deg ) skew( -35deg );
        -webkit-transform: rotate( 205deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
     
	}

.bubble2{
		float: right;
		width: 80%;
		background-color: #ffc900;
		border-radius: 5px;
		box-shadow: 0 0 6px #B2B2B2;
		display: inline-block;
		padding: 10px 18px;
		position: relative;
		vertical-align: top;
		margin: 10px 10px;
		border-color: #cdecb0;
		
	}
